Set comprehension for creating a new set

In [2]:
Set = [1, 4, 5, 8, 0, 10]

set_comp = {var for var in Set if var % 2 == 0}
print("New set using set comprehensions: ", set_comp)

New set using set comprehensions:  {8, 0, 10, 4}

In [3]:
a = ("John", "David", "Lawrence")
b = ("Sarah", "Borah", "Astrid")

x = zip (a, b)

Convert zip object into tuple so that it can iterable

In [4]:
print(tuple(x))

(('John', 'Sarah'), ('David', 'Borah'), ('Lawrence', 'Astrid'))